[2021-02-13 23:42] KFlash opened #1 "Printing and pretty printing"
Printing in Kataw will replace the need of using Prettier for this project. It's a long, complex process because the printer also need to handle

- transformation

- incremental parsing

The printer will have a slightly different style set than Prettier, and because of the "hybrid" CST I fixed it so the code style will change if the end-user are using line break or not.

Example `[ a, b, c, 1, 3,

[2021-02-14 23:48] KFlash commented on #1
The printer have almost reached the final state. Left is to verify it actually produce syntax correct JS.

Demo of the printer can be found [here](https://kataw.github.io/kataw/kataw_print/). Comments and some other options are off in the demo.

[2021-02-18 03:56] KFlash opened #3 "TS v. 4.3 support"
Implement and support TS 4.3 features

[2021-02-18 05:39] KFlash commented on #3
@aladdin-add Turned out that we already supported most of this. I only fixed the static index signature. Tests added.

[2021-02-18 05:39] #3 closed

[2021-02-21 00:14] KFlash commented on #1
Comments has been enabled in the demo now, and they get attached correctly. The printer are almost done. Still need to fix some pretty printing issues etc.

@aladdin-add Can you test and verify?

[2021-02-26 23:42] KFlash commented on #1
@aladdin-add I have managed to print a 1:1 of the original source without any need for paren - '()' - wrapping like in Prettier and Rome. I'm getting here now!

[2021-03-01 05:50] KFlash commented on #1
The printer are on track, but I was forced to create a "formatter" for use with pretty printing and this delayed the progress.
The formatter will be open sourced first.

[2021-03-02 00:26] KFlash commented on #1
@aladdin-add I ran into even more complexity before I can land pretty printing. Do you get a chance to look into the test runner?

The test runner needs to be extended even further to handle options like `{ tabWidth: 2, printWidth: 80, bracketSpacing: true }`

If not the pretty style turns insane crazy, because it will automatically set the page with to 1 ;)

I also need to do some AST adjustments

[2021-03-04 23:27] KFlash commented on #1
A preview of the pretty printer will be available within a few days. No comment attachment *yet*, but it works like Prettier with improved perf and style formats.

[2021-03-05 00:54] KFlash commented on #1
This [tests](https://github.com/kataw/kataw/tree/printer/test/__snapshot__/printer) contain the printers style format.

[2021-03-05 13:52] aladdin-add opened #7 "improve test runner"
feat:

- [x] exit code
- [x] test coverage (with c8)
- [ ] parsing/printer/linter/minify options

refactor:

- [ ] get rid of the constants and make a .md template
- [x] separately update snapshots

bugfix:

- [ ] non-ascii chars and escaped chars get correctly printed in .md files

[2021-03-05 13:58] KFlash commented on #7
@aladdin-add The printer options need to cover

- parser options

- printer options

- linter options

- minify options

For the printer options you can read the readme in the `compiler/printer` folder.

Regarding the liner - just take a look at ESLint options (*my next TODO*).

[2021-03-05 14:05] aladdin-add commented on #7
it seems just as the same as parsing: input + options => output.

what else need to be done in the test runner?

[2021-03-05 14:07] aladdin-add commented on #7
I didn't see `compiler/printer`: https://github.com/kataw/kataw/tree/b21950e59484f0ee4da87ff9ab942fea219ed386/src/compiler

did you forget to push? v(ノへ￣、)

[2021-03-05 14:08] KFlash commented on #7
Here is the [printer options](https://github.com/kataw/kataw/tree/main/src/compiler/printer)

[2021-03-05 14:15] KFlash commented on #7
test runner? the `lib/` folder. Should modularize everything, and the `autogenerate.ts` complains if the `gen`folder doesn't exist before you try to auto generate.

The  `generateOutputBlock` in `run.ts`  is a temporary hack. It should be modularized to get content from a  ` .md` file with placeholders instead of using the constants we are using now.

Also consider to make a own CLI for the runner

[2021-03-05 14:27] aladdin-add commented on #7
fine, I'll look into it.

[2021-03-05 14:32] KFlash commented on #7
Off topic. I'm soon to push the printer to a private repo so we can play around with  it there and fix bugs before pushing to main repo. It's a complex piece of code, but I'm getting there.

While waiting for that you can see [the test files}(https://github.com/kataw/kataw/tree/printer/test/__snapshot__/printer) for the printer too get a hin of how the pretty printing will be

[2021-03-06 13:39] aladdin-add commented on #7
updated the op.

we can make a few PRs to the address these issues, what do you think merging #8 now?

[2021-03-06 13:43] KFlash commented on #7
Maybe merge [this](https://github.com/kataw/WIP-printer/blob/main/test/run.ts#L45-L60) and [this](https://github.com/kataw/WIP-printer/blob/main/test/run.ts#L181-L196)  changes first?

[2021-03-08 03:03] KFlash commented on #1
@aladdin-add  The printer is now 90% completed except for the comments. At this stage I now consider the AST and the parser for 100% stable,

The remaining 10% is adjusting pretty printing before I publish a first preview

[2021-03-08 07:54] KFlash commented on #1
Kataw's advantage over Prettier is performance.

[code]

[2021-03-08 12:55] KFlash opened #16 "replace prettier with kataw's pretty printer"
Just a reminder for  now until  the printer has been open sourced.

[2021-03-08 13:23] aladdin-add opened #17 "error TS2343: This syntax requires an imported helper named '__spreadArray' which does not exist in 'tslib'. Consider upgrading your version of 'tslib'."
[code]

[2021-03-08 13:27] aladdin-add commented on #16
should we add a kataw-cli, with supporting something like pretter.config.js/prettierignore ？

[2021-03-08 13:28] KFlash commented on #17
tslib?

[2021-03-08 13:30] aladdin-add commented on #17
I guess(not sure) it's because we are using a newer typescript, but rollup-plugin-typescript2 is using a older one.

will try to fix.

[2021-03-08 13:30] KFlash commented on #16
We should, and also find a way to implement ignore comments. I'm not there *yet*.

[2021-03-08 13:34] KFlash commented on #17
or simply stop supporting es5 for now?

Soon as I get around to fix it, we can run Kataw's source through a ES5 transformer before bundle with Rollup.

[2021-03-08 13:38] KFlash commented on #17
Mostly everything depends on the printer as of now. Can't do the transformers before it's done because of some printer logic and unique identifier generation.

[2021-03-08 13:39] #17 closed

[2021-03-09 15:19] KFlash commented on #1
Closing this now. Follow https://github.com/kataw/kataw/issues/16

[2021-03-09 15:20] KFlash commented on #16
A demo of the  soon open sourced printer can be tested [here](https://kataw.github.io/kataw/kataw_print/). Still WIP!

[2021-03-11 06:37] KFlash commented on #7
@aladdin-add Any progress on this? We also need to add a option to switch the printer comments on / off so we can test it correctly.

[2021-03-11 07:52] KFlash opened #20 "investigate loc pos for all nodes"
Looks like some node start / end values are off by 1.

This is not critical. The start / end values are only for internal usage and will only affect comment attachments.

[2021-03-11 14:21] KFlash commented on #16
@aladdin-add How should we do it with a ignore comment as in Pretter?

I have started to enable comments in the printer - see the demo - but it will take me maybe 7 more days to finish.

[2021-03-11 15:20] aladdin-add commented on #16
the easiest way I can imagine is: storing the node's raw text when parsing, and in the printer(code gen) phrase, just skip the node, and put the raw text back.

e.g.
[code]

=> {nodeKind: xxx, raw: "foo"},

[2021-03-11 15:59] aladdin-add commented on #16
better to look at how prettier get it. :)

[2021-03-11 19:10] KFlash commented on #16
We already save the raw data by default. When times come maybe  you can look into it ?

[2021-03-11 21:34] KFlash commented on #16
@aladdin-add Something like this?

![ignore](https://user-images.githubusercontent.com/31855118/110858070-99dd9980-82f4-11eb-8154-9fdfcc985a71.png)

[2021-03-13 17:50] aladdin-add opened #23 "Infinity was stringified to null."
1234567890e1234567890 was parsed to Infinity,  then stringified to null in the md.

do you think the text should be `"1234567890e1234567890 "`?

![image](https://user-images.githubusercontent.com/13050025/111038595-d4feda80-8464-11eb-9c04-125adf8526cc.png)

https://github.com/kataw/kataw/blob/8481d92a10dc3a197048e432d2c73224bef0989a/test/__snapshot__/compiler/js/lexer/numbers/decimal2.md#L490

[2021-03-13 21:44] KFlash commented on #23
The parser result is he correct one, so I guess it's a test runner issue again.

[2021-03-14 16:20] aladdin-add commented on #23
the problem is NaN/Infinity  is not a valid value in JSON.

 to make it work, I made a little change to my `deepEqual`: https://github.com/kataw/kataw/blob/cb21935dd1809b057684989e0bedc18cb6ebb90d/test/runner/utils.ts#L79-L83

[2021-03-15 11:50] KFlash opened #26 "TODO's"
- [x]  AST that conforms to the ECMA specs

- [x]   TS / JS parser

- [x]  Travers / walker

- [x]  Transformer API

- [x]  Public API to generate AST nodes

- [ ]  Grammar checker

- [ ] Pretty printing

- [ ]  Linting

- [ ]  Minifier

[2021-03-15 11:51] KFlash commented on #26
@aladdin-add Can you think about how we can  implement a grammar checker?

[2021-03-15 14:03] KFlash opened #28 "autogenerated files getting git info mixed with invalid char"
autogenerated files getting git info mixed with invalid char as part of the generated test case

See attached picture regarding latest commit

![pull](https://user-images.githubusercontent.com/31855118/111165505-11a01280-85da-11eb-864b-3e5f0de13d15.png)

[2021-03-15 14:26] aladdin-add commented on #28
the conflicts from my update(unix style path) and your update(windows style path) v(o_ _)ﾉ

[2021-03-15 14:28] KFlash commented on #28
how can the changed end up in the .md file? Need to be removed 👍

[2021-03-15 14:30] aladdin-add commented on #28
no worries, I can re gen these cases.

[2021-03-15 14:32] #28 closed

[2021-03-16 03:06] KFlash opened #30 "(node:18296) Warning:"
(node:18296) Warning: Label 'Running 11266 test cases. Total time' already exists for console.time()

[2021-03-16 03:08] KFlash commented on #30
(node:18296) Warning: No such label 'Running 11266 test cases. Total time' for console.timeEnd()

[2021-03-16 03:39] KFlash opened #31 "running prettier throws"
Tried to run prettier

node:child_process:712
    throw err;
    ^

<ref *1> Error: spawnSync git ENOBUFS
    at Object.spawnSync (node:internal/child_process:1086:20)
    at spawnSync (node:child_process:676:24)
    at execFileSync (node:child_process:703:15)
    at Module._compile (node:internal/modules/cjs/loader:1092:14)
    at Object.Module._extensions..js (node:internal/modules/cjs/loader:11

[2021-03-16 04:21] aladdin-add commented on #31
didn't repro it. how and which branch get this error?

[2021-03-16 04:22] KFlash commented on #31
both master and the branch I made for the PR

[2021-03-16 06:56] aladdin-add opened #32 "binding is undefined sometimes"
I found this when fixing deepEqual edge cases:
https://github.com/kataw/kataw/blob/f23544c2201fbb24c647d2bf35689c52bbb3ac91/test/runner/utils.ts#L87-L109

undefined is not a valid value in JSON(ECMA 404), please use `null` in this case.

another way is to implement its own `parse` and `stringify`, I'm not sure it's worthy.

[2021-03-16 07:01] KFlash commented on #32
can you do 'if x === undefined) x = null'

[2021-03-16 07:08] aladdin-add commented on #32
the answer is no. let's imagine an obj:

`{binding: undefined}`  stringified to md => `"{}"`  parsed to `{}`

as `deepEqual({binding: undefined}, {})` return false, the case is always failing.

[2021-03-16 07:08] KFlash commented on #32
so where actually does this 'undefined' come from? The parser?

[2021-03-16 07:14] aladdin-add commented on #32
https://github.com/kataw/kataw/blob/main/test/__snapshot__/compiler/js/expressions/await/gen/with_strict_dirctive/var_asyncArrow_x003d_asyncx0028x002ex002ex002eawaitx0029_x003dx003e_x007bx007d_.md

[2021-03-16 07:18] KFlash commented on #32
Interesting. I can't find any undefined . This is the AST it output. No undefined to be found

[code]

[2021-03-16 07:20] aladdin-add commented on #32
as I mentioned above, `undefined` is not valid in JSON,  so it will be ignored in the md file.

[2021-03-16 08:16] #32 closed

[2021-03-17 00:54] KFlash commented on #31
closed as fixed.

[2021-03-17 00:54] #31 closed

[2021-03-17 00:55] KFlash commented on #30
@aladdin-add Can you look into this?

[2021-03-17 00:56] KFlash commented on #23
@aladdin-add I guess this is solved?

[2021-03-17 01:44] KFlash opened #35 "Use of exit code output NPM msg if snapshot mismatch"
Use of exit code gives this message now if snapshot  mismatch
Output mismatch for D:\kataw\test\__snapshot__/compiler/ts/contextualExpressionTypecheckingDoesntBlowStack.md
Output mismatch for D:\kataw\test\__snapshot__/compiler/ts/nestedLoops.md
Running 11257 test cases. Total time: 7.180s
Mismatch: 7/11257
exit code: 1
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! kataw@0.0.12 test: `ts-node

[2021-03-17 04:46] aladdin-add commented on #35
the reason I added it is: I was running the tests not using `npm`, but `npx`. e.g.
[code]

I think it's fine if we are alway using npm, just remove this line:

https://github.com/kataw/kataw/blob/6ad95158a19f5f3d4cfdf608e232cfb67c869fb6/test/cli.ts#L16

[2021-03-17 04:49] #23 closed

[2021-03-17 04:55] KFlash commented on #35
I let you remove that line  :)

[2021-03-17 05:54] #20 closed

[2021-03-19 10:29] #35 closed

[2021-03-19 10:30] aladdin-add commented on #30
is this still an issue? I'm not seeing the warning in latest main.

[2021-03-19 10:30] aladdin-add commented on #30
https://github.com/kataw/kataw/runs/2147586791

[2021-03-21 01:49] KFlash commented on #30
I haven't seen it either. closing

[2021-03-21 01:49] #30 closed

[2021-03-21 06:19] KFlash opened #39 "implement transformers"
Need to develop different transformers and get them running, plus update current transformer API to work with scoping, and to verify that transformers can be created as a plugin.

[2021-03-23 08:26] KFlash opened #41 "Implement type checker with optional type annotations"
**WIP**

@aladdin-add  We got an issue. Look at [this](https://github.com/microsoft/TypeScript/wiki/TypeScript-Design-Goals#non-goals).
So I have changed the original plans for Kataw. I ditch TS and going to implement type checker with optional type annotations that will solve the issues I linked too.

No time frame for this, but it's a WIP.  The other bullet points in the readme stays the same.

[2021-03-24 22:17] KFlash opened #42 "Skip "hybrid CST" and use real CST?"
In the upcoming rewrite of the parser "tokens" no longer exist and have been merged together with "nodeKind".  That  makes it easy to save each "token" on the CST. I have already done it in the rewrite for a few productions - conditional, unary, update etc. where the operator token has been saved.

When it comes to binary expr. The token has also been saved, and it now contains the exact same meta

[2021-03-25 02:47] KFlash commented on #42
@aladdin-add  Node properties will be removed and "packed" on the 'NodeFlag' instead. That way we will shave off around 3 bytes per node property, and we can keep the nodes small and the AST will consume less bytes.

[2021-03-25 02:50] KFlash commented on #42
In case of interest. The old "token.ts" has been rewritten to [this](https://gist.github.com/KFlash/b7034df10ef50b41001e83a8bcdab883)

[2021-03-27 10:59] KFlash opened #44 "type error in test runner"
test/cli.ts:30:111 - error TS2322: Type 'number' is not assignable to type '{ label: number; sent: () => any; trys: any[]; ops: any[]; }'.

30                     if (!(t = _.trys, t = t.length > 0 && t[t.length - 1]) && (op[0] === 6 || op[0] === 2)) { _ = 0; continue; }

[2021-03-27 14:20] aladdin-add commented on #44
can you describe how you get this error, and the raw output?

[2021-03-27 14:26] KFlash commented on #44
I simply wrote a test and tried to test it.  Then the test runner froze and after a few sec that messages pop sup. I got confused because '30 if (!(t = _.trys, t = t.length > 0' has nothing to do with Kataw source code or the test runner.

I modified the tests, and it works now except I need to update all the time. Normal testing are broken - always complaining about mismatch.

Anyway. This is com

[2021-03-27 14:29] KFlash commented on #44
I was wrong. It points to some code in ts-lib. Not ts-node.

[2021-03-27 14:34] KFlash commented on #44
@aladdin-add It's related to async/await

https://github.com/TypeStrong/ts-node/issues/774

[2021-03-31 07:27] KFlash commented on #44
I tried to run coverage

test/cli.ts:30:111 - error TS2322: Type 'number' is not assignable to type '{ label: number; sent: () => any; trys: any[]; ops: any[]; }'.

30                     if (!(t = _.trys, t = t.length > 0 && t[t.length - 1]) && (op[0] === 6 || op[0] === 2)) { _ = 0; continue; }

[2021-03-31 22:24] KFlash commented on #42
@aladdin-add  any point in "saving" every token? Complete cst ?

[2021-04-02 03:42] aladdin-add commented on #44
the code was compiled twice? https://github.com/TypeStrong/ts-node/issues/774#issuecomment-605070430

but why? I was not able to repro on my macos, can you share the command that you used to run?

[2021-04-02 03:49] KFlash commented on #44
I only tried to run code coverage. 'npm run coverage'

[2021-04-02 03:57] aladdin-add commented on #44
not sure why. maybe another "windows-compat" issue. ╮(￣▽￣)╭

a workaround could be setting "target" to >="es2017", to avoid compiling async functions to regenerator.

[2021-04-06 13:22] KFlash commented on #44
@aladdin-add is there a fix for this? And what's the test runner update?

[2021-04-07 02:46] #44 closed

[2021-04-07 14:48] aladdin-add commented on #7
got some rl stuff. but I will try to get it in 3~4 days.

[2021-04-07 21:08] KFlash commented on #7
same thing here. Rl problems. Take your time :)

[2021-04-11 23:07] KFlash commented on #42
closes as being fixed.

[2021-04-11 23:07] #42 closed

[2021-04-11 23:08] KFlash commented on #39
closes as being temporary fixed, but on hold

[2021-04-11 23:08] #39 closed

[2021-04-12 22:30] KFlash opened #45 "Kataw and Concrete Syntax Tree (CST)"
Kataw have have moved forward and are now using a CST instead of AST to make it easier to print, lint and minify, and the parser are no longer using the "old concept" of tokens. In fact. There is no more tokens in the parser - the CST / AST kind have been merged into one.

`SyntaxKind.Identifier` is both the `SyntaxKind` and what is known from other parsers as `token`.

`"kind": 122`, is the  `Syn

[2021-04-12 22:35] KFlash commented on #45
@aladdin-add Do I need to add more info into this AST / CST?

[2021-04-13 07:07] KFlash commented on #45
Simple parameter list information can be extracted from the formal param AST nodes like this

`node.flags & NodeFlags.NoneSimpleParamList`

[2021-04-14 13:16] KFlash opened #47 "test-runner destroys .md tests with nonsense"
@aladdin-add  Look at this test. Something is wrong :)

https://github.com/kataw/kataw/blob/cst-parser/test/__snapshot__/parser/declarations/function/type-parameters.md

[2021-04-15 03:12] aladdin-add commented on #47
the link is to 404 :-( 

[2021-04-15 03:15] KFlash commented on #47
https://github.com/kataw/kataw/blob/5f44c97f7c24842d09796323e1a93cd22b3da785/test/__snapshot__/parser/declarations/function/type-parameters.md

[2021-04-15 03:15] KFlash commented on #47
Can you try fix all the tests in the open PR? It's around 7k mismatch :(

[2021-04-15 03:32] aladdin-add commented on #47
seems you are using `\r\n` again. :))

[2021-04-15 03:38] aladdin-add commented on #47
+ 569f653bc9a953e7ec1c356b5b4db62f188f8f38 updated all the tests
+ e7ccbb07a972e28a5ce37c9da4bed2f216908e3c fixes the test

[2021-04-15 04:01] KFlash commented on #47
which branch is the tests fixed?

[2021-04-15 04:05] aladdin-add commented on #47
https://github.com/kataw/kataw/tree/fix/tests

or you can just cherry-pick the 2 commits to your branch. :)

[2021-04-15 04:32] aladdin-add commented on #47
just pushed a commit to fix other failing tests: bfb47f9109d49862ba04b75d2f4129c7f9238ffc

[2021-04-15 04:32] KFlash commented on #47
I will look at it, but try update directly on the cst-parser branch.  Still 125 mismatch

[2021-04-15 08:14] aladdin-add commented on #47
I just pushed a commit to fixed the test failing, and also fixed a bad import.

sounds the issue can be closed. :)

[2021-04-15 08:29] KFlash commented on #47
I'm closing. And the PR should be ready within 1 week

[2021-04-15 08:29] #47 closed

[2021-04-15 08:42] KFlash commented on #45
Public API methods has been added and can be used to extract info from the CST nodes. It will be documented later on.

[2021-04-24 20:15] KFlash opened #51 "extend test runner to print errors"
With the upcoming refactoring of the Kataw parser, the error handling is an callback func. So it's needed to extend the
test runner to print in each '.md' errors if they are returned by the cb.

As of now we will never know if any error diagnostics has been thrown

[2021-04-25 02:54] aladdin-add commented on #51
will look into it!

[2021-04-25 03:02] KFlash commented on #51
It should be easy. if any value returned by the CB, print it in the .md file

[2021-04-25 06:37] KFlash commented on #51
@aladdin-add The Kataw parser is complicated, but I'm getting there soon

[2021-04-27 00:25] #51 closed

[2021-04-27 00:28] KFlash opened #53 "find a way to test AST walker and API"
Need to find a way to test the CST walker and the public API methods. They can be used together

[code]

[2021-04-27 03:07] aladdin-add opened #54 "test-262 compat"
refs: https://github.com/tc39/test262

[2021-04-27 05:46] KFlash commented on #54
I'm working on it. Can you write here the missing cases?

[2021-04-27 06:28] KFlash commented on #54
I know lexical bindings have to be fixed, and I got released a slot for it so I will implement this after the PR has been merged.

Except that. What other cases do you know about?

Test the parser here: https://kataw.github.io/kataw/kataw_ast/

[2021-04-27 21:56] KFlash opened #55 "test runner transformer valid chars into invalid chars"
Try this  case:  'class C { #👍 }' it get transformed into  'class C { #@{x1f44d}@ };'

[2021-04-28 06:49] aladdin-add commented on #55
it seems be expected - all these chars were encoded to something like `{x...}`.
do you mean removing this behavior?

https://github.com/kataw/kataw/blob/61b4fa90a19ebedc5b35822d8ea16a5ed5700bc0/test/runner/utils.ts#L57-L60

[2021-04-28 07:30] KFlash commented on #55
i think remove yes if safe

[2021-04-28 07:31] KFlash commented on #53
@aladdin-add  How can we test this?

[2021-04-28 07:39] aladdin-add commented on #55
a potential drawback if doing so: some chars cannot be printed in the md, e.g. 0-width chars

[2021-04-28 07:47] KFlash commented on #55
no workarounds?

[2021-04-28 22:45] #55 closed

[2021-04-28 22:47] #45 closed

[2021-04-29 16:08] KFlash commented on #53
@aladdin-add Can you extend the test runner to test this?

[2021-04-30 00:15] KFlash commented on #53
I'm using the `NodeFlags` internal, but we still need to find a way to check if all nodes got them set correctly

[2021-04-30 00:50] KFlash opened #59 "comments and comment extraction"
Going to implement a way to extract comments so they can be attached in the printer. This has to be done 100% correct, so we don't suffer from Babel, Acorn, Esprima, Espree and Prettier issues.

Comments are not part of the AST by default.

@aladdin-add seems like espree have a comment issue 👎

[2021-04-30 03:29] aladdin-add opened #60 "document public api and more"
* project arch
* public API
* config file (to do)
* cli (to do)
* how to contribute
* FAQ
* ...

[2021-04-30 03:35] KFlash commented on #60
and also `forEachChild` - the visitor.

[2021-04-30 03:47] aladdin-add opened #61 "forEachChild not working as expected"
![image](https://user-images.githubusercontent.com/13050025/116646204-16622f80-a9aa-11eb-8f8a-3ebd3f99f575.png)

--
the result was from https://kataw.github.io/kataw/kataw_ast/

[2021-04-30 04:00] #61 closed

[2021-04-30 04:01] KFlash commented on #61
@aladdin-add Seems like it do some strange things if it's find a empty array - []. I didn't test empty array lit. Can you test that and provide a fix if it's not working?

[2021-04-30 09:11] KFlash commented on #60
@aladdin-add It's important to document that Kataw never throw errors by default.  It has build-in error recovery and reconstruct the AST. Without the callback function as the parsers 3rd argument. No diagnostics will be seen.

[2021-05-01 04:08] KFlash commented on #60
@aladdin-add Not sure if there is a point in mention this in the documentation, but Kataw threats keywords differently.
For example this case `let for`.   In this case the `for` keyword isn't allowed to be part of the `lexical declaration`. Instead the loop breaks, and `for` will be parsed out as `forStatement`.

It's done like this because Kataw re-construct the AST in all scenarios when it does

[2021-05-01 07:52] KFlash commented on #54
@aladdin-add I think declaration and statement parsing now should be test-262 compat. I still have to "walk through" expressions.
There are a few non-solved cases left, but not that important I think. PR welcome :)

[2021-05-01 18:36] sdwvit opened #62 "Add perf measurment vs esbuild?"
Hey!
Would be great to add performance section where it compares to esbuild.

[2021-05-01 18:36] sdwvit commented on #62
maybe not valid comparison, then feel free to close

[2021-05-01 18:52] aladdin-add commented on #62
good to have! and terser(uglify-js), prettier, espree...

[2021-05-01 21:56] KFlash opened #63 "improve performance for Kataw parser"
Kataw's parser performance isn't as good as it could have been.  Currently the parser is un-optimized, and I think it's performance can be improved by 10 - 20 %.

As of now the parser has an average of 40% perf gain over Acorn and around 55% perf gain over Babel parser.  The goal should be 50% and 65%..

Also GC and memory usage is an key factor here.

**Before optimization**:

![before](https://u

[2021-05-05 12:06] KFlash commented on #59
Closing as this has been documented, and an algorithm for this has been added.

[2021-05-05 12:06] #59 closed

[2021-05-05 12:06] KFlash commented on #53
@aladdin-add Not possible to solve?

[2021-05-05 12:07] KFlash commented on #54
@aladdin-add Should be 90% compat now. Lexical still a TODO

[2021-05-05 12:08] KFlash commented on #26
Closing as outdated

[2021-05-05 12:08] #26 closed

[2021-05-05 12:08] KFlash commented on #41
WIP as of now

[2021-05-05 20:36] KFlash opened #66 "test runner doesn't work with the printer"
I tried to parse an simple identifier "aladdin". It doesn't get printed in the '.md'. However. If I manually return a text string it get printed.

My guess is that there are no CST node given to the printer, or the CST node is wrong?

[2021-05-05 23:08] KFlash opened #68 "test runner prints invalid syntax"
The test runner accept CST nodes with invalid syntax to be printed. Need to use the callback here and only allow printing if valid syntax. That should be inline with Prettier

[2021-05-05 23:10] KFlash commented on #68
You can see it here:

![printed_error](https://user-images.githubusercontent.com/31855118/117220594-19da3880-ae3a-11eb-8cdb-84110bbc2052.png)

[2021-05-05 23:12] KFlash commented on #66
![printed_error](https://user-images.githubusercontent.com/31855118/117220762-763d5800-ae3a-11eb-90d5-3f8f3559756b.png)

[2021-05-06 00:57] KFlash commented on #68
@aladdin-add  This is a huge problem. Take this case ` fo\u0072 = x;`. It get printed into `for(; ; )`. It's actually invalid syntax

[2021-05-06 01:06] aladdin-add commented on #68
in non-error-recovery mode, please do not ignore the errors silently! just throw the errors?

[2021-05-06 01:13] KFlash commented on #68
A printer shouldn't run in a error-recovery mode. Can you add a error handler in the test runner for this?

[2021-05-06 01:14] KFlash commented on #68
`bar ? (, => {}) : baz;` throws on `null` because the `:` token doesn't exist in the CST tree.

[2021-05-06 01:18] KFlash commented on #68
@aladdin-add  this is how I do it locally

[code]

[2021-05-06 03:54] #66 closed

[2021-05-06 04:45] KFlash opened #69 "test-runner breaks with autogen.md and pretty print it"
'autogen.md' should be skipped and not contain any diagnostic info and generated AST.

The printer now also try to pretty print the 'autogen.md'

Look at the bottom of this file:

https://github.com/kataw/kataw/blob/main/test/__snapshot__/parser/expressions/classes/misc/autogen.md

[2021-05-06 06:27] #69 closed

[2021-05-06 09:15] KFlash commented on #68
closing as fixed in the printer PR

[2021-05-06 09:15] #68 closed

[2021-05-06 13:55] KFlash opened #71 "need to validate printer output"
Need to validate printer output

1.  Normal parse

2. If error, print diagnostic

3. If no error, print

4. Parse printed output and output diagnostic if errors

[2021-05-12 09:37] aladdin-add commented on #53
working on this!

[2021-05-13 16:20] KFlash commented on #53
I got a issue with a sick kid, but soon online again. How you solve it? You may need to adjust the walker code to get it working.

[2021-05-18 10:10] KFlash commented on #53
@aladdin-add friendly ping

[2021-05-18 18:02] KFlash commented on #63
Closing as fixed. The parser is faster than before, consumes less memory and outputs a more compact CST

[2021-05-18 18:02] #63 closed

[2021-05-18 18:03] KFlash commented on #71
Closed as unfixed.

[2021-05-20 15:32] KFlash commented on #63
@aladdin-add The parser perf drops after I implemented lexical scope tracking. I can't find a way to solve it as of now, but will release the code soon as the perf regression has been fixed.

Still 2.5x faster than Acorn!

[2021-05-21 10:06] KFlash commented on #54
@aladdin-add friendly ping. Can you verify if this is solved?

[2021-05-21 13:11] KFlash opened #74 "add CLI with report"
Need to add a CLI so the parser can run on the command line like NodeJS and V8.

Should use an red line + arrow + to mark errors. Can use the start and end values of the diagnostics for that. The diagnostics are already developed for this purpose.

[2021-05-23 11:39] KFlash commented on #60
@aladdin-add  friendly ping. You should mention in the documentation that Kataw can parse type annotations, but differently than TS and Flow. Need to do a 'in-depth' documentation for Kataw types.

[2021-05-25 06:07] aladdin-add opened #75 "confusing typings"
https://github.com/kataw/kataw/blob/48e2b10ac80e9b3acb91946ae205855153d25628/src/forEachChild.ts#L14-L21

what's the type of "node" -- `SyntaxKind` is just numbers, `node.kind/node.flags` will throw an error?

[2021-05-25 06:14] KFlash commented on #75
Everything is just a number ;) I guess the type of node should be `SyntaxKind` because punctuators and keywords are `childLess`. If not then node could be either `SyntaxKind | TokenSyntaxKind` or  only `TokenSyntaxKind` if keyword / punctuator tokens.

What do you mean with `node.kind/node.flags will throw an error?`.   A `node.kind` is equal to `node.type` in ESTree, but in Kataw just a number ;)

[2021-05-25 06:18] aladdin-add commented on #75
if `node` is a number, `node.kind` is always `undef`.

[code]

[2021-05-25 06:21] KFlash commented on #75
In your example you create a new `node` and set the value to `0`. It does not contain the `kind` property.

They all extends `SyntaxNode` so use that one.

See this CST node for hints

https://github.com/kataw/kataw/blob/main/src/ast/expressions/class-element.ts

[2021-05-25 06:25] aladdin-add commented on #75
maybe it should be `node: SyntaxNode`, not `node: SyntaxKind `

[2021-05-25 06:29] KFlash commented on #75
Looks correct, but do not try to walk `token` and `keyword` tokens. Because this is internal and you want to gain perf, you can do this

[code]

[2021-05-25 06:38] KFlash commented on #75
In short you can either do `node.kind & ....` or  `node.flags & ....` to extract the same information you would need 200 - 300 code lines to write in ESLint.

[2021-05-25 06:52] KFlash commented on #60
@aladdin-add
Need to mention in the documentation how to gain perf with Kataw CST nodes.

For example escaped keywords can be found in Acorn and Babel parser I guess if you are using the raw property

[code]
In Kataw you can do:

[code]

If you need all Statement nodes in Acorn and Babel parser:

[code]

In Kataw you can do:

[code]

There are many more examples

[2021-05-25 07:33] KFlash commented on #75
@aladdin-add Is this solved?

[2021-05-25 23:23] KFlash commented on #54
Closing as solved. It may be a few cases left to fix, but will fix them while improving perf.

The parser can be tested here to verify if  it's test-262 compat

https://kataw.github.io/kataw/kataw_ast/

[2021-05-25 23:23] #54 closed

[2021-05-27 04:08] aladdin-add opened #76 "es2022 support"
* class fields
* top-level await

[2021-05-27 04:20] KFlash commented on #76
@aladdin-add Maybe you should try to parse class fields with Kataw?

[2021-05-27 04:31] KFlash commented on #76
top-level-await is all about performance. I'm afraid of perf regression

[2021-05-27 05:33] aladdin-add commented on #76
we have to implement it - it will be a part of ECMA 262.

[2021-05-27 06:42] KFlash commented on #76
Do you give it a try?

[2021-05-27 11:37] KFlash commented on #76
I think this can be closes? See https://github.com/kataw/kataw/pull/77

[2021-05-27 11:53] aladdin-add commented on #76
or keep it open to track the following es2022 features (as it was not fully finalized)?

[2021-05-27 11:54] KFlash commented on #76
What kind of es2022 features is missing?

[2021-05-27 12:32] aladdin-add commented on #76
it depends. es2022 will be published in the next year, so it's very likely to have more features added in the rest of the year.

[2021-05-27 13:48] KFlash commented on #71
At some point I need to rewrite the entire printer, but focusing on the type system as of now.

[2021-05-28 02:43] KFlash commented on #75
@aladdin-add should we close this?

[2021-05-28 03:56] aladdin-add commented on #75
haven't got time for this. but let's keep it open to help not lost track of it?

[2021-05-28 03:58] KFlash commented on #75
sure. when do you think you get time to test the walker?

[2021-05-28 04:33] KFlash opened #82 "53:28 error Unexpected empty function @typescript-eslint/no-empty-function"
53:28  error  Unexpected empty function  @typescript-eslint/no-empty-function

[2021-05-28 05:26] aladdin-add commented on #82
or we can just disable the rule.

[2021-05-28 05:29] KFlash commented on #82
you choose. It need to be fixed

[2021-05-28 05:31] #82 closed

[2021-05-28 22:00] #16 closed

[2021-05-29 06:31] KFlash opened #84 "can't set option while autogen new tests"
There are no way to add options for 'autogen'. Hard to make this kind of tests for module goal

[2021-05-30 08:46] KFlash commented on #84
also printed output is missing in the autogen files

[2021-06-07 06:56] KFlash commented on #84
@aladdin-add  friendly ping

[2021-06-07 06:56] KFlash commented on #53
@aladdin-add  friendly ping

[2021-06-09 11:19] aladdin-add opened #92 "missing `.end` in some nodes"
e.g. test/__snapshot__/parser/expressions/async-arrow/can_not_spread_member.md

[2021-06-09 11:26] KFlash commented on #92
I don't understand it. It should fail, but in recovery mode where is the missing .end ?

[code]

[2021-06-09 11:29] aladdin-add commented on #92
![image](https://user-images.githubusercontent.com/13050025/121346676-fcc4e800-c958-11eb-9a8c-bc130c82bdc5.png)

I think it's missing in this node. :)

[2021-06-09 11:36] #92 closed

[2021-06-10 13:32] KFlash opened #96 "test runner isn't consistent"
After adding the progress bar it will still output 'Running 18941 test cases. Total time: 7.454s'

The tests have been run so maybe change to "Ran x test cases"?

The 'Total time' is different than what you see on the progress bar.

Autogenerate files suggest ''run test:update'. That command doesn't exist

[2021-06-10 13:43] KFlash commented on #96
@aladdin-add Look at this nice picture :)

Linebreak after the progress bar is missing, and maybe add colors to make the differences clear? Green for progress? Red for mismatch?

![adsadjladasdas](https://user-images.githubusercontent.com/31855118/121535395-b6dd5200-ca34-11eb-9331-f10bc6e9a5cd.png)

[2021-06-11 13:03] KFlash opened #99 "progress bar issues"
Type 'typeof ProgressBar' has no construct signatures.

18   const bar = new ProgressBar('Testing snapshots [:bar] :percent, :elapseds elapsed, eta :etas,', {
[code]
    Type originates at this import. A namespace-style import cannot be called or constructed, and will cause a failure at runtime. Consider using a default import or import require here instead.

[2021-06-11 13:41] aladdin-add commented on #99
how did you get the error?

[2021-06-11 14:01] KFlash commented on #99
I don't know. It suddenly showed up while I was writing tests

[2021-06-11 17:19] #99 closed

[2021-06-12 03:00] aladdin-add opened #102 "OOM with parser options: {allowTypes: true}"
![image](https://user-images.githubusercontent.com/13050025/121763288-5aca1900-cb6d-11eb-9302-eea8c5aa304f.png)

[2021-06-12 03:07] KFlash commented on #102
This is the test you pointing at that should cause OOM. I can't trigger this issue

![adsfkjldakljafdslksa](https://user-images.githubusercontent.com/31855118/121763395-60742e80-cb6e-11eb-97ee-c2c434f40751.png)

[2021-06-12 03:14] KFlash commented on #102
I manually parsed each test in that folder you are pointing to and no one trigger OOM. Where is the failing test case?

[2021-06-12 03:33] aladdin-add commented on #102
(ノへ￣、)it's not the one, but the next. if a test case is causing OOM, the cst is not returned, and no output.

[2021-06-12 03:35] aladdin-add commented on #102
try this:
[code]

[2021-06-12 03:58] KFlash commented on #102
Ah yeah that one give me 'Identifier expected(23, 26)'. So  I need to fix it, but no OOM

[2021-06-12 04:01] KFlash commented on #102
@aladdin-add Try to autogenerate again

[2021-06-12 11:47] aladdin-add commented on #102
great! it's working fine after rebase the main branch. will merge that one.

[2021-06-12 11:47] #102 closed

[2021-06-13 05:31] aladdin-add commented on #84
closing, as seems it has been fixed in the main branch.

[2021-06-13 05:31] #84 closed

[2021-06-13 06:27] KFlash opened #110 "the walker doesn't walk nodes in test runner"
the walker doesn't walk nodes in test runner

[2021-06-13 08:32] KFlash commented on #110
Closed as fixed

[2021-06-13 08:32] #110 closed

[2021-06-13 08:34] KFlash opened #111 "walker doesn't walk all CST nodes (test-runner)"
Do a coverage report and look at the output. Only selected CST are walked. For example module goal nodes are excluded.

[2021-06-13 09:36] #111 closed

[2021-06-13 09:36] KFlash commented on #111
still  need to develop a better walker :)

[2021-06-13 13:25] KFlash opened #113 "need to test public API in test runner"
need to test public API in test runner

[2021-06-14 01:39] aladdin-add commented on #96
closing as fixed.

[2021-06-14 01:39] #96 closed

[2021-06-14 02:01] KFlash opened #114 "add benchmark result in test runner"
should add benchmark result in test runner so we know how it perform. Something like:
'x test ran for 20 minutes (2 opts/sec)" with different colors or test runner time and bench result.

[2021-06-14 12:13] aladdin-add commented on #76
FYI: https://github.com/tc39/proposal-regexp-match-indices has reached stage-4. updated the OP.

[2021-06-14 12:17] KFlash commented on #76
I know :) You can mark it as done. The `d` flag is recognized already.

[2021-06-14 12:33] KFlash commented on #41
I'm closing this. Kataw now parses types just fine, and design of the type system should be handled in discussions.

[2021-06-14 12:33] #41 closed

[2021-06-14 12:35] KFlash commented on #53
Closing this as done. And regarding the API - #113

[2021-06-14 12:35] #53 closed

[2021-06-14 12:35] KFlash commented on #7
this can be closed?

[2021-06-14 12:36] KFlash commented on #75
close this?

[2021-06-14 12:36] KFlash commented on #74
Any progress on this or should I self-assign?

[2021-06-14 12:38] aladdin-add opened #116 "consider removing "regenerated date" in snapshots"
not sure it has any values - it can be found in git log.

[2021-06-14 12:39] #7 closed

[2021-06-14 12:42] aladdin-add commented on #75
there is still a TODO: update any to the correct typing.

[2021-06-14 12:54] KFlash commented on #74
@aladdin-add Thanks! My TODO list is very long now :)

[2021-06-14 12:56] KFlash commented on #116
Just remove it and the file path too ?

[2021-06-14 14:02] KFlash commented on #74
See #118

[2021-06-14 14:14] KFlash opened #119 "extend test runner to test the CLI"
extend test runner to test the CLI

https://github.com/kataw/kataw/tree/main/src/cli

[2021-06-14 15:28] KFlash opened #122 "translate the diagnostics to chinese"
The diagnostics should be extended to accept any language, but to start with they should be translated to chinese

https://github.com/kataw/kataw/blob/main/src/diagnostic/diagnosticMessages.json

[2021-06-18 12:46] KFlash opened #125 "cst nodes keep updating themself in test runner"
cst nodes keep updating themself in test runner and there are no code that should trigger this so I guess the CST is changing somewhere?

[2021-06-18 12:51] KFlash opened #126 "need to test the transformer for removing kataw types"
This can be done with snapshots. Parse with types through the transformer API and no types should be seen in the returned output

[2021-06-20 10:10] KFlash opened #129 "WIP! implement new printer and get comments 100% correct"
This is *WIP*.

cc / @aladdin-add The goal is to replace Prettier?

[2021-06-20 11:14] KFlash commented on #129
@aladdin-add  Should we document the comment algorithm or just keep it internal?  I got it working 100% now, but it's so super sensitive...

This will not be attached correctly in Prettier, but one whitespace wrong and the comment will not be attached !

[code]

[2021-06-20 11:32] KFlash commented on #129
@aladdin-add  This comment cannot be printed in Prettier and generate an error

[code]
Can you report it on the Prettier issue tracker?

[2021-06-20 11:48] aladdin-add commented on #129
sure! // cc @fisker

[2021-06-20 11:50] aladdin-add commented on #129
_Should we document the comment algorithm or just keep it internal? I got it working 100% now, but it's so super sensitive..._

IMO, no need to document it unless it was a public API - it's likely we will change it in later releases.

[2021-06-20 12:01] KFlash commented on #129
I go through this now step-by-step and create tests for each single comment, so this will take time. Soon done with statements

[2021-06-20 13:57] KFlash commented on #129
@aladdin-add We need to merge the transformer code with printer code - let this 2 share the same main object. This because the unique ID that is created inside transformers are stuck on that object, and we need it in the printer to generate unique names.

Any ideas on how we can do this, and can you test the transformer code in the test runner?

[2021-06-20 14:52] KFlash opened #131 "need additional CST node in for-statement to be consistent"
Need additional CST node in for-statement to be consistent.  If users are used to keyword token it will be both strange and weird to be forced to write something like this

`printPunctuator(node.initializer.flags & NodeFlags.Const ? 'const' : 'let', printer, node.initializer.start, node);`

Need 1) CST node to save the `varKeyword` and 2) for lexicals `const` and `let`.

@aladdin-add Can you add t

[2021-06-20 22:16] KFlash commented on #129
@aladdin-add As a "drive by" I'm now also printing types.

Here is an example on a declared function with type annotation decorated with comments

![types](https://user-images.githubusercontent.com/31855118/122689819-179c3400-d258-11eb-8d9e-2c227877611f.png)

[2021-06-21 08:54] KFlash commented on #131
Closed as fixed.

[2021-06-21 08:54] #131 closed

[2021-06-21 12:01] aladdin-add opened #134 "put the type snapshots in a separate folder"
[code]

[2021-06-21 12:44] KFlash commented on #134
Good idea! Can you re-arrange? I'm in the middle of some printer refactoring

[2021-06-21 13:46] KFlash commented on #134
How would you separate out the printer tests? Refactor the test runner?

[2021-06-21 14:18] aladdin-add commented on #134
not related to the tests, just move the snapshots.  I think it will helpful we want to test some of them, e.g. `ts-node -f snapshots/ecma262` to only the js snapshots.

can you take it? :)

[2021-06-21 14:29] KFlash commented on #134
can't you give it a try? I have just spent 24 hours non-stop without break in front of this screen fixing a printer, transformer and visitor :P I need to take a few hours off now

[2021-06-22 01:13] KFlash commented on #129
@aladdin-add I'm running comment tests now vs Prettier with Prettier own tests. I'm **100% sure** we have no comment issues and all comments attached on correct places - even before and after punctuators. Prettier suffers with this.

[2021-06-22 02:35] #134 closed

[2021-06-22 08:34] KFlash commented on #125
Close as fixed

[2021-06-22 08:34] #125 closed

[2021-06-22 08:35] KFlash commented on #129
@aladdin-add [Test this demo](https://kataw.github.io/kataw/kataw_print/) and let me know where I screwed up when it comes to comment. Statement level should be okay now and I'm working through the rest.

[2021-06-23 00:46] KFlash commented on #129
@aladdin-add [Test this demo](https://kataw.github.io/kataw/kataw_print/) and let me know where I screwed up when it comes to comment. Statement level should be okay now and I'm working through the rest.

I finally see the end of this now

[2021-06-23 08:41] KFlash commented on #129
Closing this as solved. No code released yet, need to fix pretty printing.

[2021-06-23 08:41] #129 closed

[2021-06-23 08:44] KFlash opened #137 "Implement pretty printing - WIP!"
We got a printer (*locale*) that prints everything 100%. And our comment algorithm is nearly 100% perfect, but only 99% done.

Everything can be tested [here](https://kataw.github.io/kataw/kataw_print/).

Need to implement a pretty printer and port the code.

cc / @aladdin-add Do you fix this without loss of perf?

[2021-06-26 07:19] KFlash commented on #137
As of now I implemented a 'man in the middle' solution. For example 'IfStatements' get nested

[code]

Prettier's output is

[code]

I found Kata's solution easier to read.

@aladdin-add Thoughts?

[2021-06-27 22:23] KFlash commented on #126
@aladdin-add Is this something you can fix?

[2021-06-27 22:46] KFlash commented on #137
Pretty printing are in progress... The result will be similar to Prettier as requested by @aladdin-add , but without all the well known Prettier issues :)

[2021-06-30 07:04] #71 closed

[2021-06-30 09:46] aladdin-add opened #140 "generated snapshot is incorrect"
[code]

[code]
## Input

[code]
## Output

### CST

[code]
## Input

[code]
[code]
## Input

[code]
[code]
## Input

[code]
[code]

[2021-06-30 09:49] KFlash commented on #140
How is this possible? We validate the printer output. Name and file path to the tests

[2021-06-30 09:55] aladdin-add commented on #140
I think it's just something wrong in the test cli.

[2021-06-30 09:58] KFlash commented on #140
It has to be. I ran it in my own editor and it prints correct. The last generated test file shows no output? That's impossible

[2021-06-30 10:07] #116 closed

[2021-06-30 10:49] KFlash commented on #140
Is this fixed?

[2021-06-30 10:55] aladdin-add commented on #140
fixed in https://github.com/kataw/kataw/commit/f6ba55964355bd28c8cbecbe5824df9979b9a412. but left a TODO. (￣▽￣)~*

[2021-06-30 10:55] #140 closed

[2021-06-30 13:47] #137 closed

[2021-06-30 13:47] #122 closed

[2021-07-01 10:56] KFlash opened #141 "Implement CLI and kataw ignore comment"
Implement CLI and kataw ignore comment

[2021-07-03 15:03] KFlash commented on #141
@aladdin-add The 'kataw-ignore' comment is tricky. How should it be implemented?

Let say we want to format this one

`a ? a / b ? b : c : a ? b : a ? a / b ? b : c : a ? b : a ? a / b ? b : c : a ? b : c`

Without  ignore comment the result will be

[code]

**but** if I add an ignore comment,

[code]

The result will be the same as input.

This is tricky because we need to add bitwise masks to th

[2021-07-03 15:14] KFlash commented on #141
Need to make an list overview over what should be allowed to be ignored because I have to do this manually.

We could add Babel to that list :)

[2021-07-03 15:37] aladdin-add commented on #141
not sure I'm following. I didn't see how it's tricky.  not just need to ignore the next node of the `kataw-ignore`.
why check the left side?

[2021-07-03 15:40] KFlash commented on #141
If we have an conditional expression and it starts with an identifier. The ignore comment will be the one to contain the 'NodeFlag'

'a ? b : c'.

The first node is an identifier and in this case we need to check he 'node.shortCircut'.

[2021-07-03 15:47] KFlash commented on #141
I adjusted some of the 'NodeFlags' now so conditional and binary expression inherit the 'NodeFlags' from "left" side. This should allow us to ignore them, plus blocks, arrows, function and class.

What else do we need to ignore?

[2021-07-03 15:57] KFlash commented on #141
@aladdin-add  You should be aware that if we ignore then we ignore :)  Everything between the two CST nodes we ignore - e.g. conditional expression - will be a 1:1  replicate of original source. This includes formatting, comment, whitespace etc.

Prettier can't do that, but we can because of how we handle whitespace and loc tracking.

[2021-07-03 16:05] aladdin-add commented on #141
I see! IMO, the ignore comments should only exists before a block/statement/expression. not inside of an expression.

so, the entire expression should be ignored, in your example

[2021-07-03 16:45] KFlash commented on #141
So how we do it with member expr, class, function etc? If you ignore an function, same thing will happen. Should we allow just to ignore the func body or param list?  The format will be weird

[2021-07-03 16:51] aladdin-add commented on #141
yes, the entire function should be ignored. I just mean not allow a part of a statement.

e.g.
[code]

it seems not particularly useful, and maybe hard to implement.

[2021-07-03 17:14] KFlash commented on #141
Is that something Prettier support and something we should support?

It's not hard. If you follow me then you already know that the ignore comment has been attached to the identifier 'b' in your example, so just do a slice from that pos to end of node pos. The formatting will be weird 👍

[2021-07-03 17:18] KFlash commented on #141
Question now is what we do with type annotations? If you ignore a function the type annotation will also be ignored.

[2021-07-03 17:20] aladdin-add commented on #141
it makes sense to ignore them too.

[2021-07-03 17:30] KFlash commented on #141
As  you requested:

Ignored

[code]

 Source code

[code]

[2021-07-03 17:30] KFlash commented on #141
@aladdin-add Can you give me a list or an overview over what Kataw should be allowed to ignore?

[2021-07-03 17:53] aladdin-add commented on #141
examples:
[code]

[2021-07-03 17:56] aladdin-add commented on #141
to clarify: I slightly suggest not allowing inside an expression. image such a case:

![image](https://user-images.githubusercontent.com/13050025/124362930-c97d2c80-dc6a-11eb-944f-dfcc0b22c6e6.png)

you want to ignore what color?

[2021-07-03 17:59] KFlash commented on #141
In your example ( the picture) where do you think the ignore bitwise mask is? It's on the parenthesize expression node - '()'. So in that case the ignore will start from opening paren '(' and all the way until it find identifier 'c'.

[2021-07-03 18:01] KFlash commented on #141
but the ignore comment is only allowed as a single line comment - not a block comment. Same as Prettier I think.

[2021-07-03 18:07] aladdin-add commented on #141
ah, didn't noticed that! it also makes sense.

[2021-07-03 18:25] KFlash commented on #141
I need to do some RL stuff now, but will continue on this soon.

[2021-07-04 07:27] KFlash commented on #141
@aladdin-add Kataw now ignore everything as expected. I hope at least. What about options?

[2021-07-04 07:27] KFlash commented on #141
"smart format" should be turned off by default?

[2021-07-05 07:48] KFlash opened #142 "test runner - printed VALID code is INVALID"
The test runner claim that valid printed code is invalid. This is a HUGE problem for me. Currently stuck with over 4000 files with this issue.

**Input**
[code]

**Printed**
[code]

[2021-07-05 07:53] KFlash commented on #142
I can add to this issue that it sometimes it "feels like" I'm dealing with two different parsers. Same settings and same parser in a local test environment as used in the test runner output different CST so hard to track where the issues is.

[2021-07-05 08:23] aladdin-add commented on #142
maybe it's the parser's issue? the message means printed code diagnostics's length not equal with the input's.

https://github.com/kataw/kataw/blob/496f8e3f513d74b927200827aa94a8d7e3590e8b/test/runner/tob.ts#L65

[2021-07-05 08:41] KFlash commented on #142
How can it be a parser issue? I'm also verify the output manually against the parser. No issue

[2021-07-05 08:42] KFlash commented on #142
If it's the parser then it brings me to the second discovery  - that it feels sometimes I'm dealing with two parses. See my comment above

[2021-07-05 08:54] aladdin-add commented on #142
how can I repro the issue? did you push the change?

[2021-07-05 08:59] KFlash commented on #142
I can't push it, but it sometimes happen with current code online. The printer. For example the printer - through the test runner - accepted to print this invalid code - `a?.?.b`.  It was not caught at all.

see one of my latest commit to the repo to throw error for that case.

Here the 'chain' property is null because it's invalid. The test runner didn't pick it up. It should be invalid to repars

[2021-07-05 09:09] KFlash commented on #142
And my current Kataw code locale I can't even push it to Kataw repo because it will break. The tests will fail. But locale it they all pass and no errors.

[2021-07-05 09:46] aladdin-add commented on #142
can you push it to another branch?

[2021-07-05 09:50] KFlash commented on #142
What to push? I gave an example in first comment, and explained how it printed invalid code.

[2021-07-05 09:51] KFlash commented on #142
The code I'm playing with locale catch all this issues that's why I report them and found this test runner issue. Just now the test runner generated a 100 MB file that I was forced to delete.

[2021-07-05 09:57] KFlash commented on #142
@aladdin-add What do you want? Do you want the 'the best"? Wait!

[2021-07-05 09:58] aladdin-add commented on #142
"best"?

please push your branch to the gh, so I was able to repro it!

[2021-07-05 10:00] KFlash commented on #142
"The beast" is the name I use on my private printer. It's an Prettier equal code that I play around with.

It's incoming!

[2021-07-05 11:06] KFlash commented on #141
@aladdin-add Can you create a CLI and use the 'the beast' branch as the base?

[2021-07-05 11:53] aladdin-add commented on #142
it was working on my local, too. I will create a PR to test it.

[2021-07-05 12:00] KFlash commented on #142
Also change the 'tob.ts' back to use the original printer and it breaks tests even the code is correct.

[2021-07-05 12:21] KFlash commented on #141
@aladdin-add Can you create a CLI and use the Pr you opened as the base?

And can you give me an list over the options that I need to add? I'm done with the ignore comment list. It works now!

[2021-07-06 13:31] KFlash opened #144 "Add printer options in test runner"
@aladdin-add Can you fix this?

I added 'ObjectCurlySpacing' and 'ArrayBracketSpacing' options to "The beast".

They are "adopted" from from ESLint.

Because we need to have 'ObjectCurlySpacing' enabled by default, I had to enable this in the printer, and name the
option 'no'ObjectCurlySpacing'. This isn't consistent with ''ArrayBracketSpacing'' options.

Can you fix this and remove the 'no' in fr

[2021-07-07 07:30] KFlash commented on #142
@aladdin-add Here is how you can reproduce

1. Use 'the beast' and print the code with 'allowArrowParens' enabled

It should transform 'async x=>x, y' into 'async (x)=>x, y', but nothing happens and it report that 'async x=>x, y' is an invalid code!

Turn off the option and suddenly 'async x=>x, y' is valid code!

[2021-07-07 07:52] aladdin-add commented on #142
if you try to re-parse the printed code, you will get `Declaration or statement expected`. it's why it was treated as `invalid`.

I think we just need to improve the error message.

[2021-07-07 07:54] KFlash commented on #142
Can you improve the error message? I will have a look at the parser code for async

[2021-07-07 08:52] KFlash commented on #142
Closing as the mention option works now. It was an error with async arrow parsing. Fixed!

[2021-07-07 08:52] #142 closed

[2021-07-07 14:48] KFlash commented on #144
@aladdin-add Friendly ping ;) This is kind of needed now because I also need to run tests for 'pageWith' formatting

[2021-07-08 05:39] KFlash commented on #114
@aladdin-add friendly ping. Good to have while doing printing

[2021-07-08 06:17] #144 closed

[2021-07-09 01:11] KFlash opened #149 "Add REPL"
@aladdin-add Can you "borrow" the REPL from Meriyah repo and modify it and change the color?

[2021-07-09 02:30] aladdin-add commented on #75
closing as fixed.

[2021-07-09 02:30] #75 closed

[2021-07-09 02:36] KFlash opened #150 "Implement printer options"
Implement this options:

- [x]  'printWidth'
- [x]  ''tabWidth'
- [x]  'useTabs'
- [x]  'noSemicolon'
- [x] ''singleQuote
- [x] ''noWhitespace
- [x] ''compact"
- [x] ''noObjectCurlySpacing"
- [x] ''arrayBracketSpacing"
- [ ] ''disallowStringEscape"
- [x] ''allowArrowParens"
- [x] ''spaceAfterAt"
- [x] ''endOfLine"

There are no option for trailing comma. The printer follows the 'WYSIWYG' principle

[2021-07-09 03:17] aladdin-add commented on #150
![image](https://user-images.githubusercontent.com/13050025/125018079-f2585400-e0a6-11eb-898a-4a85f9b53db7.png)

can you implement the options as prettier (except for the parser/vue/...)?

[2021-07-09 04:14] KFlash commented on #150
Isn't this options for the CLI? I implemented some of them.

[2021-07-09 04:34] KFlash commented on #150
@aladdin-add I implemented a simple `quoteProps` option now.  If on it will quote the object props with double quote. If you add the `singleQuote`  it will quote the props with single quotes. I skipped 'preserve'. Just avoid to apply that option and it's "preserved" 👍

[2021-07-09 04:56] KFlash opened #151 "implement pragma comments"
@aladdin-add Do you fix this? It's super easy and you can see how I added 'kataw-ignore' comment.

I suggest this  at the top of the file

[code]
Then check for line break after the comment text and a asterisk before

[2021-07-09 05:10] KFlash commented on #150
If you 'insertPragma' you will get this output

[code]

[2021-07-09 06:55] KFlash commented on #150
This is the options supported by Kataw's printe:

- printWidth
-  tabWidth
- useTabs
- noSemicolon
- singleQuote
- noWhitespace
- compact
- noObjectCurlySpacing
- arrayBracketSpacing
- disallowStringEscape
- allowArrowParens
- spaceAfterAt
- quoteProps
- coerceQuoteProps
- insertPragma
- endOfLine

[2021-07-11 14:02] KFlash opened #153 "The test runner goes crazy - 100 MB files"
I working on options for the printer. When I set a global bitwise mask - that is not related to anything- the test runner add extra spaces in the printer output and created over 340 files with a size of 100 MB each.

The diff is then too large to commit

How to reproduce? I'm not sure. I don't have enough experience to understand how a bitwise mask can cause a test runner to act like this. In my w

[2021-07-11 14:46] aladdin-add commented on #153
there is a noticeably big issue in the printer(main branch). look at `\test\__snapshot__\ecma262\expressions\arrow\gen\condiional_paren_middle\x0028interfacex0029_x003dx003e_x007b_x0027use_strictx0027_0_x007d.md`, the printed code is extremely too long.

[2021-07-11 14:51] KFlash commented on #153
I see, but why does the test runner generate that long file?

[2021-07-11 15:00] KFlash commented on #153
Did you get any 100 mb files if you try to run it on a windows computer?

[2021-07-11 15:02] aladdin-add commented on #153
that's highly likely to be a bad-formatted md file. I would suggest switch from windows to linux/wsl. :)

[2021-07-11 15:04] KFlash commented on #153
my other work require windows, so it's easier if you  just fix the test runner issue ;)

[2021-07-11 15:57] KFlash opened #154 "Test runner creates random 100 MB files"
Out of the blue and for no reason the test runner creates 100 MB files on windows. No idea how to reproduce it. It just happen when the test runner feel for it.

Was improving printing of decorators. Ran the tests as normal and the test file that has decorators increased to 100 MB

[2021-07-11 15:59] KFlash commented on #154
This is not related to #153 and the filename is not long either.

![runner](https://user-images.githubusercontent.com/31855118/125201952-edacbf00-e2a3-11eb-86e6-f13384563964.png)

[2021-07-11 21:22] KFlash commented on #154
@aladdin-add can you fix this?

[2021-07-12 03:42] KFlash commented on #154
@aladdin-add Any solution for this issue?

[2021-07-13 07:46] aladdin-add commented on #154
it's very likely the md was incorrectly formatted.

[2021-07-13 07:57] KFlash commented on #154
How to "fix" the md. The files are auto-gen. And see the other issue. No issue with the names

[2021-07-13 10:36] aladdin-add commented on #154
well, I will try to repro it on my windows in a few days.

[2021-07-16 23:57] KFlash commented on #151
Closing as solved.

[2021-07-16 23:57] #151 closed

[2021-07-17 12:01] KFlash opened #155 "Test runner playing with backticks"
I'm improving template parsing and ran the tests through the test runner on this repo and discovered that some additional back ticks has been added.

The funny thing is that the test case has no back ticks in it. So nothing related to template parsing

![asdjfasfd](https://user-images.githubusercontent.com/31855118/126036177-1780bbea-1f02-4751-a8eb-42dacdc4a796.png)

[2021-07-17 20:02] aladdin-add commented on #155
sounds like a bug, but hard to tell. please provide the exact command and the input.

[2021-07-18 00:22] KFlash commented on #155
The tests is the same as found in the repo. The cmd I used was  'test:update-all'.

[2021-07-18 08:58] KFlash opened #156 "test runner doesn't count to 100%"
If running update on the tests and one or more files needs to be updated, it cancel the progress bar counting,
update the file and start to count again.

I also think ', Output mismatch...' should be on a separate line

What about a green color for the progress bar?

![not100](https://user-images.githubusercontent.com/31855118/126061603-d92e10b9-ed38-4b9b-a465-524a24effb92.png)

[2021-07-22 08:01] KFlash commented on #156
@aladdin-add friendly ping

[2021-07-25 08:40] KFlash opened #158 "Implements linting and warnings"
The goal of Kataw is to be as fast as possible so the JS linting will be inlined with the parser code.

It's still WIP

[code]

[code]

Outputs `Type declaration of 'any' loses type-safety. Consider replacing it with a more precise type`

The linter diagnostics will have a different color in the CLI and point directly to the issue.

The parser automatically tries to `auto-fix` if possible. No opti

[2021-07-25 09:12] KFlash opened #159 "test runner - separate diagnostics"
All diagnostics in test runner is seen as an error. Need to separate this.

If 'DiagnosticKind' === 16 should trigger error diagnostics.

If the value is '64' should for example output

[code]

[2021-07-25 22:40] KFlash commented on #158
@aladdin-add This is how it can be done. This example is all low-level and gives complete control

[code]

[2021-07-26 02:09] KFlash commented on #159
@aladdin-add the linter diagnostics is not an error so should not prevent printing.

[2021-07-26 06:47] KFlash commented on #158
@aladdin-add  This is how it will looks like for the -end user. The colors change depends on the diagnostics.

![lint](https://user-images.githubusercontent.com/31855118/126944809-d4ba0e68-3ff3-450c-8039-0832ca0c6c48.png)

[2021-07-26 08:26] KFlash commented on #159
@aladdin-add  the linter diagnostics is not an error so should not prevent printing. I tested this now and the linter diagnostics blocking printing.

![errors](https://user-images.githubusercontent.com/31855118/126957805-c70b6275-6021-42a9-a28b-07a156754f1b.png)

[2021-07-26 08:40] KFlash commented on #159
Linting and error seen together

![hint_error](https://user-images.githubusercontent.com/31855118/126959905-1cd5b5e3-bd5a-470a-9d52-ecfb5f9da837.png)

[2021-07-26 08:48] aladdin-add commented on #159
but IMHO better not to mix the linting errors to the diagnostics. linting should be another public API?

[2021-07-26 08:54] KFlash commented on #159
All diagnostics are just numbers. It's up to end users how to deal with them.

What do you mean with 'linting should be another public API?'

[2021-07-26 08:58] aladdin-add commented on #159
https://github.com/kataw/kataw/discussions/88#discussioncomment-825332

[2021-07-26 09:08] KFlash commented on #159
I prefer not to kill performance and many "rules" in e. g. ESLint is parser errors.

The diagnostics is just diagnostics and does everything in one go instead of walk the tree, consume memory and performance twice.

Here is an "eslint look a like" example

![eslint](https://user-images.githubusercontent.com/31855118/126963774-4f09244d-83e5-4602-8801-f5027b91e40d.png)

[2021-07-26 12:00] KFlash opened #161 "test runner - test fuzzer"
Need to find a way to test the generated fuzzer code

[2021-07-27 02:52] KFlash opened #163 ""re-design" and improve the reporters"
The reporters need to be improved with better colors and "design".

[2021-07-27 06:10] KFlash commented on #163
@aladdin-add  你能修这个吗？ 我们还需要一个 HTML 报告器。

[2021-07-27 06:13] KFlash opened #165 "用 Kataw 替换 ESLint"
用 Kataw 替换 ESLint. Need a CLI for this, but the basic rules are already supported.

[2021-07-27 06:23] KFlash commented on #158
Closing this now. The remaining rules will be implemented slowly and needs a series of bitwise masks, and some lint rules can be moved to printer or is basically parser errors.

[2021-07-27 06:23] #158 closed

[2021-07-27 06:24] KFlash commented on #153
Closing. Seems to fixed itself.

[2021-07-27 06:24] #153 closed

[2021-07-27 06:24] KFlash commented on #155
Closing. Seems to fixed itself.

[2021-07-27 06:24] #155 closed

[2021-07-27 06:24] KFlash commented on #154
Closing. Seems to fixed itself.

[2021-07-27 06:24] #154 closed

[2021-07-27 06:25] KFlash commented on #150
Closing as done.

[2021-07-27 06:25] #150 closed

[2021-07-27 06:26] KFlash commented on #74
Reporters is there. So closing this.

[2021-07-27 06:26] #74 closed

[2021-07-27 13:08] KFlash commented on #60
@aladdin-add Close this? No progress last 4 months

[2021-07-27 13:08] KFlash commented on #113
@aladdin-add Close this? Soon 3 months and no progress

[2021-07-27 13:08] KFlash commented on #114
@aladdin-add Close this? Soon 2 months and no progress

[2021-07-27 13:09] KFlash commented on #119
Closing as no CLI exist as of now

[2021-07-27 13:09] #119 closed

[2021-07-27 13:10] KFlash commented on #141
@aladdin-add I'm closing this. Soon 1 month no action and most of this is done

[2021-07-27 13:10] #141 closed

[2021-07-27 13:10] #126 closed

[2021-07-27 13:10] KFlash commented on #156
@aladdin-add Close this? Soon 11 days and no progress

[2021-07-27 13:11] #156 closed

[2021-07-29 07:45] aladdin-add commented on #60
we'll have to document some of these before release v0.1.0

[2021-07-29 08:10] KFlash commented on #60
Some of the .md files in various folder may give you some clues

[2021-07-29 09:03] aladdin-add commented on #76
FYI: https://github.com/tc39/proposal-private-fields-in-in has reached stage-4. updated the OP.

[2021-07-29 10:12] KFlash commented on #76
I know this, but not sure about the implementation. However I implemented it, but should it go through BinaryExpression?

[2021-07-30 18:20] KFlash commented on #165
@aladdin-add friendly ping

[2021-07-30 18:20] KFlash commented on #163
Closing coz I doubt @aladdin-add can do this.

[2021-07-30 18:20] #163 closed

[2021-07-30 18:21] KFlash commented on #159
@aladdin-add friendly ping

[2021-07-30 18:21] KFlash commented on #149
Closing as I doubt @aladdin-add can fix this and I have no time

[2021-07-30 18:21] #149 closed

[2021-07-30 18:22] #114 closed

[2021-07-30 18:22] KFlash commented on #113
@aladdin-add I'm closing now as it seems you have no time to fix this

[2021-07-30 18:22] #113 closed

[2021-08-01 23:12] KFlash commented on #60
@aladdin-add Wait with the documentation. Kataw is undergoing a **huge** refactoring and I'm changing it to something I had zero plans to do :(

Soon as I'm done we need to document the folder structure first.

[2021-08-01 23:21] KFlash opened #172 "JSON, YAML or JS ??"
What are we going to support? JSON, YAML or JS?  I think it's less confusing if we stick to one format.

For example if we type `kataw init` on the CMD it creates an `.json` file by default:

[code]
As of now when it "loading" the linter rules and others from the config file it handle both
'json', 'yaml' and 'js, but I think it's kind of redundant?

Another issue is the `kataw:recommended`. This f

[2021-08-02 08:18] KFlash commented on #165
Close due to mayor changes

[2021-08-02 08:18] #165 closed

[2021-08-05 03:14] KFlash commented on #172
Closing as @aladdin-add going to archive this repo.

[2021-08-05 03:14] #172 closed

[2021-10-25 17:34] verydanny opened #176 "Still in development?"
I currently use `kataw` as a parser to create a lazy transform into a string instead of traversal. Are there plans to continue supporting `kataw` or add documentation on transformation?

It seems really sloppy to turn it into a string.

[2021-10-25 23:22] KFlash commented on #176
It's still active, but I had and still have some real life issues going on. And I noticed low interest from the community so it lost priority. What is the issue with current code?

[2022-01-26 22:10] axefrog opened #177 "Possible bug parsing destructured arrow function parameters"
The parameter list for an arrow function is parsing differently than for a regular function. Specifically, when a parameter yields an `ObjectBindingPattern` that contains a `BindingProperty` where a default value has been supplied, the `initializer` property will remain empty (i.e. `null`) and the `value` property will be assigned an `AssignmentExpression` with the initializer expression appearing

[2022-01-31 02:35] axefrog opened #178 "Possible bug regarding the use of IndexExpression vs. MemberAccessExpression"
I just noticed that `IndexExpression` and `MemberAccessExpression` seem to be used inversely to what their names semantically suggest that they represent.

[code]

https://kataw.github.io/kataw/kataw_ast/?code=a.b%3B%0Aa%5B0%5D%3B&method=parse&range=undefined&loc=false&next=false&cst=false&module=false&raw=undefined&jsx=undefined&directives=undefined&attachComment=undefined&webCompat=undefined&lex

[2022-01-31 22:37] axefrog commented on #177
@KFlash Have you moved on from this project? I'm just wondering if I should submit pull requests or if I should just fork the project.

[2022-02-17 13:11] prantlf opened #179 "Source maps"
CST is more suitable for transpiling than AST. `Kataw` could replace tools like `babel` or `recast`, or hand-written tools using a parser (`esprima`, `acorn`, `meriyah`) and formatter (`escodegen`, `astring`). However, transpilers have to produce a source map, otherwise debugging would be impossible.

How about adding the source map support? `ecodegen` offers it by integrating `source-map` interna

[2022-02-18 01:07] axefrog commented on #179
Pretty sure @KFlash is out of action at the moment. Not sure if he just doesn't have the bandwidth to work on the project right now, or if lack of community uptake of kataw killed his motivation. In any case, you likely won't get a response at the moment, but keep tabs on the project, as he might return sooner or later.